


.card{
    padding: 20px;
    border: 1px solid black;
    width: 100%;
    max-width: 1000px;
    margin-top: 30px;
    font-family: sans-serif;
}


.paragraph{
    margin-top: 0px;
}


.heading{
    margin-bottom: 0px;
}